<div style="padding: 24px;background-color: #ffffff;min-height: 600px;">
  <button nz-button nzType="primary" routerLink="add" class="add_button">
    发起会议
  </button>
  <nz-table #basicTable [nzData]="displayMeetings">
    <thead>
      <tr>
        <th nzCustomFilter>
          会议名称
          <nz-dropdown
            nzTrigger="click"
            [nzClickHide]="false"
            nzPlacement="bottomRight"
            nzTableFilter
            #dropdown
          >
            <i
              nz-icon
              nzType="search"
              class="ant-table-filter-icon"
              [class.ant-table-filter-open]="dropdown.nzVisible"
              nz-dropdown
            ></i>
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="搜索会名"
                [(ngModel)]="serchName"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                class="search-button"
                (click)="filter()"
              >
                搜索
              </button>
              <button nz-button nzSize="small" (click)="Reset()">重置</button>
            </div>
          </nz-dropdown>
        </th>
        <th>会议时间</th>
        <th>会议地址</th>
        <th
          nzShowFilter
          [nzFilters]="serchMeetingState"
          (nzFilterChange)="filter($event)"
        >
          状态
        </th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ data.meetingName }}</td>
        <td>{{ data.dateTime }}</td>
        <td>{{ data.address }}</td>
        <td>
          <nz-tag
            [nzColor]="'gold'"
            *ngIf="data.meetingState == meetingStateEnum.NotStarted"
            >未开始</nz-tag
          >

          <nz-tag
            [nzColor]="'green'"
            *ngIf="data.meetingState == meetingStateEnum.CarryOn"
            >进行中</nz-tag
          >
          <nz-tag
            [nzColor]="'cyan'"
            *ngIf="data.meetingState == meetingStateEnum.Complete"
            >已完成</nz-tag
          >
          <nz-tag
            [nzColor]="'red'"
            *ngIf="data.meetingState == meetingStateEnum.Cancel"
            >已取消</nz-tag
          >
        </td>
        <td>
          <a [routerLink]="['details', data.id]">详情</a>

          <nz-divider
            nzType="vertical"
            *ngIf="data.meetingState == meetingStateEnum.NotStarted"
          ></nz-divider>

          <a
            *ngIf="data.meetingState == meetingStateEnum.NotStarted"
            [routerLink]="['modify', data.id]"
            >修改</a
          >

          <nz-divider
            nzType="vertical"
            *ngIf="data.meetingState == meetingStateEnum.NotStarted"
          ></nz-divider>

          <a
            *ngIf="data.meetingState == meetingStateEnum.NotStarted"
            nz-popconfirm
            nzTitle="确定取消这个会议？"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="cancelMeeting(data.id)"
            >取消</a
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
